<% include navigation.ejs %>
<style>
    form{
        width: 100%;
        height: 80px;
    }
</style>
<form action="index.ejs" method="POST">
    <h3>User name</h3>
    <input type="text" name="tb_user_name" id="">
    <h3>Password</h3>
    <input type="text" name="tb_password" id="">
</form>